h1 {
    text-align: center;
    background-color: beige;
    border: 3px solid black;
    font-size: 40px;
    font-family: 'Monaco', monospace;
    display: inline-block;
    padding: 10px 10px;
}

.header {
    text-align: center;
}

.my-recipes {
    text-align: center;
}

.buttons {
    background-color: #94947C;
    text-align: center;
    display: inline-block;
}

p {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Helvetica', monospace;
    margin: 0 auto;
}

ul {
    text-align: center;
}

li {
    margin-top: 15px;
    display: inline-block;
    border: 4px solid black;
    margin: 10px 10px;
}

.food {
    background-color: beige;
    padding: 30px;
    font-size: 20px;
    border: none;
}

.food:hover {
    background-color:#DEDABD;
}

.food:active {
    background-color: #C9C6AB;
}

.food.lasagna {
    width: 150px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}